<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @dish.type %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
